:root {
  --bg-color-main: rgb(255, 206, 214);
  --bg-color-secondary: rgb(255, 168, 183);
  --bg-color-button: rgb(255, 247, 250);
  --border: rgb(255, 79, 108);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color-main);
  margin: 0px;
}

.button {
  width: max-content;
  height: max-content;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--bg-color-button);
  padding: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--bg-color-main);
}

.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 98vh;
}

.logIn,
.signUp {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-secondary);
  padding: 0 20px 20px;
  border: 1px solid var(--border);
  border-radius: 5px;

  p {
    margin-bottom: 15px;
  }
}

.input {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid var(--border);
  padding: 3px;
}

.logIn {
  margin-bottom: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .nav {
    align-self: flex-end;
    margin: 10px 10px 0 0;

    .button {
      margin-left: 5px;
      padding: 4px;
    }
  }

  .h1 {
    margin-top: 0px;
    color: rgb(205, 87, 126);
  }
}

.li {
  .p {
    margin-bottom: 5px;
  }

  .button {
    margin-right: 8px;
    background-color: var(--bg-color-button);
  }
}

.main {
  margin-left: 15px;
}

.addCosmetic,
.newReview,
.edit,
.editCosmetic {
  width: 400px;
  height: min-content;
  border: 1px solid var(--border);

  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    align-self: flex-end;
  }

  button:first-of-type {
    height: 20px;
    width: 20px;
  }

  input {
    width: 200px;
    margin-bottom: px;
  }
}
