<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregator kosmetyków</title>
    <link rel="stylesheet" href="/app/static/css/styles.css" />
  </head>
  <body>
    <div id="app"></div>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <script type="text/babel" src="/app/static/jsx/login.jsx"></script>
    <script type="text/babel" src="/app/static/jsx/account.jsx"></script>
    <script type="text/babel" src="/app/static/jsx/buttons.jsx"></script>
    <script type="text/babel" src="/app/static/jsx/search.jsx"></script>
    <script type="text/babel" src="/app/static/jsx/reviews.jsx"></script>
    <script type="text/babel" src="/app/static/jsx/main.jsx"></script>
  </body>
</html>
